
  <div class="container">
    <h1>To Do List</h1>
    <ul>
      @for (task of tasksList; track $index){
        <li>
            <div class="task-container">
              <span>{{ task }}</span>
              <div class="buttons">
                <button (click)="deleteTask($index)" class="delete-button">Delete</button>
                <button (click)="editTask($index)" class="edit-button">Edit</button>
              </div>
            </div>
        </li>
      }
     
  
      <li>
        <div class="task-container">
          @if (editIndex !== null) {
            <input type="text" [(ngModel)]="newTask" class="task-input">
            <button (click)="updateTask()" class="add-button">Update Task</button>
          } @else {
            <input type="text" placeholder="New Task" [(ngModel)]="newTask" class="task-input">
            <button (click)="addTask()" class="add-button">Add Task</button>
          }
        </div>
      </li>
    </ul>
  </div>
