
  .container {
    width: 700px;
    margin: 40px auto; /* centrar el div */
    background-color: #f0f8ff; /* Un tono más claro de azul */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-container:hover {
    background-color: #e0e0e0; /* Gris más claro al pasar el mouse */
  }
  
  .task-input {
    padding: 8px;
    border: 1px solid #4caf50; /* Borde verde */
    border-radius: 4px;
    margin-right: 8px; /* Espacio entre el input y el botón */
    flex-grow: 1; /* El input crecerá para ocupar todo el espacio disponible */
  }
  
  .buttons {
    display: flex;
    gap: 5px;
  }

  .add-button, .edit-button, .delete-button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  
  .add-button {
    background-color: #4caf50; /* Verde */
  }
  
  .edit-button {
    background-color: #2196f3; /* Azul */
  }
  
  .delete-button {
    background-color: #f44336; /* Rojo */
  }

  li {
    background-color: #f9f9f9; /* Color de fondo de los elementos de la lista */
    border-radius: 4px;
    padding: 5px;
    margin-top: 8px;
    list-style-type: none; /* Quita los puntos de la lista */
  }
  
  li:hover {
    background-color: #e5e5e5; /* Color de fondo al pasar el mouse */
  }

  h1 {
    text-align: center;
    color: #4caf50; /* Verde más brillante */
  }